<!--底部-->
	<div class="footer">
		版权所有：上海中威天安科技有限公司
	</div>
	<!-- <script data-main="javascripts/main" src="javascripts/bower_components/requirejs/require.js"></script> -->
	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/metisMenu.js"></script>
    <script src="javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="javascripts/lib/layer/layer.js"></script>
    <script src="javascripts/mylayer.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>