<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>demo</title>

    <!-- Bootstrap -->
    <link href="javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/table.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="wrap">
    <div class="whateverbox">
      <div class="ifm-navbar">
        <ul>
          <li class="current"><a href="#">部门管理 <span class="triangle"></span></a></li>
          <li><a href="#">用户管理 <span class="triangle"></span></a></li>
          <li><a href="#">角色管理 <span class="triangle"></span></a></li>
          <li><a href="#">权限管理 <span class="triangle"></span></a></li>
          <li><a href="#">部门管理 <span class="triangle"></span></a></li>
        </ul>
      </div>

      <div class="ifm-wrap">
        <!-- <iframe src="iframe.html" id="iframepage" frameborder="0" width="100%" height="100%" scrolling="no"></iframe> -->
        <div class="bgbox">
          <div class="btnbox">
            <button class="add">增加</button>
            <button class="del">删除</button>
            <button class="edit">编辑</button>
            <button class="search">查看</button>
          </div>
          <div class="tablebox">
             <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td><input type="checkbox" name="" id="all">序号</td>
                <td>部门名称</td>
                <td>部门房间</td>
                <td>部门人数</td>
                <td>部门经理</td>
                <td>部门电话</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" name="item">001</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">002</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">003</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">004</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">005</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">004</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">005</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">004</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">005</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">004</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">005</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">004</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">005</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">004</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>
              <tr>
                <td><input type="checkbox" name="item">005</td>
                <td>综合部</td>
                <td>321</td>
                <td>654</td>
                <td>6</td>
                <td>12346</td>
              </tr>

            </tbody>
          </table>
          </div>
        </div>



      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="javascripts/bower_components/jquery/dist/jquery/jquery.js"></script>
    Include all compiled plugins (below), or include individual files as needed
    <script src="javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function(){
        var height = $(".whateverbox").height() - $(".ifm-navbar").height() - 20 + "px";
        $(".ifm-wrap").css("height",height);
      })
    </script> -->
  </body>
</html>