<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>权限管理</title>
	<link href="javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="javascripts/lib/jqGrid/css/ui.jqgrid-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/table.css">
</head>
<body class="wrap">
    <div class="whateverbox">
      <div class="ifm-navbar">
        <ul>
          <li><a href="/dept">部门管理 <span class="triangle"></span></a></li>
          <li><a href="/sysuser">用户管理 <span class="triangle"></span></a></li>
          <li><a href="/sysrole">角色管理 <span class="triangle"></span></a></li>
          <li class="current"><a href="/sysright">权限管理 <span class="triangle"></span></a></li>
        </ul>
      </div>

      <div class="ifm-wrap">
        <!-- <iframe src="iframe.html" id="iframepage" frameborder="0" width="100%" height="100%" scrolling="no"></iframe> -->
        <div class="bgbox">
          <div class="btnbox">
            <button class="add">增加</button>
            <button class="del">删除</button>
            <button class="edit">编辑</button>
            <button class="search">查看</button>
          </div>
          <div class="tablebox">
		      <table id="jqGrid" class="table"></table>  
			  <div id="jqGridPager"></div> 
          </div>
        </div>



      </div>
    </div>

     <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script src="javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/jqGrid/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/jqGrid/js/i18n/grid.locale-en.js"></script>
    <script type="text/javascript" src="javascripts/module/system/sysright/sysright.js"></script>
  </body>
</html>